// Colors
$color-white: #ffffff;
$color-black: #000000;


// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-normal: $font-weight-regular; // alias
$font-weight-book: $font-weight-regular;   // alias
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;


// Fonts
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;


