@charset "UTF-8";

// Main imports
@import "compass",
       	"elements/normalize";

// Variables/Mixins/Functions
@import "variables",
        "utilities/utilities";

// CSS framework
@import "foundation/foundation";

// Site elements
@import "elements/font-icons",
        "elements/buttons",
        "elements/forms";

// Global styles
@import "global";

// Partial styles
// @import "partials/header";

// Page styles
// @import "pages/homepage";

// Media Queries
@import "media-queries";
