# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
*.sublime-project
*.sublime-workspace

# Folders to ignore
.idea
.tmp

# Distribution
dist/*
!dist/.gitignore

# Build
node_modules
