// Colors
$color-white: #ffffff;
$color-black: #000000;

// Font weights
$fw-light: 300;
$fw-regular: 400;
$fw-normal: $fw-regular; // alias
$fw-book: $fw-regular;   // alias
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Fonts
$ff-helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Grid
$gutter-width: 15px;
$grid-width: 1440px;

$neat-grid: (
  columns: 12,
  gutter: $gutter-width,
);

// Media query sizes
$breakpoints: (
  'small': 768px,
  'medium': 1280px,
  'large': 1440px,
);
